body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("employee.jpg");
    background-size: cover;
}

.container {
    max-width: 900px;
    margin: 60px auto;
    padding: 30px;
    background: #80adb2;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(198, 109, 109, 0.1);
}

h1 {
    text-align: center;
}

.form label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button, .view-btn, .add-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #37556e;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

button:hover, .view-btn:hover, .add-btn:hover {
    background: #3182ce;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 8px;
}
